<!DOCTYPE html>
<html>
<head>
    <link href="static/css/style.css" rel="stylesheet">
    <title>Jureka AI</title>
</head>
<body bgcolor="#BFD7ED" class="color">
    <div>
        <form  action='/user' method="post">
        <span class="content">Jureka</span> <span class="ai">.Ai <button class="login">Login</button></a></span>
        
        
        <hr>
    </div>

    <center>
        <div class="p">
            <span class="gen">Generate SEO Optimized </span>
            <span class="con">Content And Images </span>
            <span class="gen">Faster Than Ever With AI</span>
        </div>

        <div class="pp">
            <h5>Make your writing effortless. Create professional content up to 10X faster than before. Save yourself hours of hard work every week.</h5>
        </div>
    </center>

    <center>
        <form class="ta" action="/user" method="post">
            <input class="taa" name="email" placeholder="Enter your email" required>
            <button class="taaa" type="submit">Sign Up</button>
        </form>
    </center>

    <center>
        <div class="g">
            <h1>Create Content At Scale. Visualize Your Thoughts Instantly</h1>
            <p>Grow with Free Trial Plan. No credit card required.</p>
        </div>
    </center>
</body>
</html>
